<div class="authform">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Listado de Preguntas</h3>
    </div>
    <div class="panel-body">
     <table class="table table-condensed">
      <thead>
        <tr>
          <th>Texto</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
        <tr>
          <td><%= question.text %></td>
          <td><%= link_to 'Editar', edit_question_path(question), class: 'btn btn-warning' %>
          <%= link_to 'Borrar', question, method: :delete, data: { confirm: 'Estas seguro?' }, class: 'btn btn-danger' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'Nueva Pregunta', new_question_path, class: 'btn btn-primary' %>
  </div>
</div>

</div>
</div>


