<div class="authform">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Listado de Usuarios</h3>
  </div>
  <div class="panel-body">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <% next if user == current_user %>
          <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Borrar", user_path(user), method: :delete, confirm: "Esta Seguro?" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>