<p>Hola <%= @email %>!</p>

<p>Puedes confirmar tu cuenta de correo por medio del siguiente enalce:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, :confirmation_token => @token), class: "btn-primary" %></p>
