<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicito un enlace para cambiar tu contraseña, puedes realizar esto medio el siguiente enlance.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @token), class: "btn-primary" %></p>

<p>Si tu no solicitaste este cambio, ignora este correo.</p>
<p>Tu contraseña no sera cambiada hasta que entres al enlace y crees una nueva.</p>
